<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DXYAreaMapper">

    <!--插入操作-->
    <insert id="save" parameterType="domain.DXYArea">
        insert into dxyarea values(#{locationId},#{provinceShortName},#{currentConfirmedCount},#{confirmedCount},#{suspectedCount},#{curedCount},#{deadCount},#{updateTime})
    </insert>



</mapper>